
$colour-blue: #afd7e6;
$colour-red: #ff0000;
$border-grey: 1px solid #ccc;

@mixin gradient-vertical($colour1, $colour2) {
	background: $colour2;
	background: -webkit-linear-gradient($colour1, $colour2);
	background: -o-linear-gradient($colour1, $colour2); 
	background: -moz-linear-gradient($colour1, $colour2); 
	background: linear-gradient($colour1, $colour2); 
}

#progress-bar-container {
	margin: 5px;
}
#progress-bar-items {
	margin-right: 0.5em;
}
.progress-button {
	color: #000;
	border: $border-grey;
	padding: 0.515em 1em;
	@include gradient-vertical(#fff, #ddd);
}
.progress-button:hover, .progress-button:active, .progress-button:focus {
	@extend .progress-button;
	outline: 0;
	cursor: auto;
}
.progress {
	width: 100%;
	height: 50px;
	padding: 0;
	border: none;
	background-color:$colour-blue;
}
.red-bar {
	background: $colour-red;
}
.progress-wrap {
	height: 50px;
	border: $border-grey;
	margin: 20px 0;
	overflow: hidden;
	position: relative;
}
.progress-bar {
	top: 0;
	left: 0;
	position: absolute;
	transition: 0.4s linear;
  	transition-property: width, background-color;
}
.progress-text {
	position: absolute;
	left: calc(50%);
	top: calc(30%);
}